.banner-container {
  background-color: var(--spring);
  color: var(--chalk);
  font-family: var(--josefin);
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.banner-container img {
  width: 1.3rem;
}

.healty-plants-container,
.packed-with-love-container,
.climate-shipping-container,
.care-advice-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8px;
  line-height: 2rem;
  font-size: 0.7rem;
}

/* For extra large devices */
/*@media (min-width: 1280px) {
  /* .banner-container {
    padding: 3.5rem 9rem;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: 700;
  }

  .healty-plants-container,
  .packed-with-love-container,
  .climate-shipping-container,
  .care-advice-container {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .banner-container img {
    width: 2.5rem;
  }
} */
