.accordion-detail-wrapper {
  display: flex;
  justify-content: space-between;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
}

.step-counter {
  margin-left: -3rem;
  text-align: left; 
}



.order-info-item-wrapper {
  display: flex;
  justify-content: space-between;
}
