.buttons {
  position: relative;
  margin-top: 3%;
  font-size: 12px;
  padding: 1%;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgba(108, 117, 125, 0.7);
  color: white;
  margin: 1%;
  margin-top: 3%;
  z-index: 100;
  font-family: "Rethink Sans", sans-serif;
}

.buttons:hover {
  background-color: #026c7c;
  color: white;
}

@media screen and (min-width: 1000px) {
  .buttons {
    font-size: 20px;
  }
}
