/* button {
    border-radius: 10rem;
    padding: 1.1rem 2.2rem;
    font-family: var(--josefin);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
  } */

button {
  font-family: var(--josefin);
  letter-spacing: 1px;
  cursor: pointer;
}

.pay-button {
  width: 150px;
  background-color: var(--terracotta);
}

.login-btn {
  width: 100%;
  padding: 0.75rem 0.625rem;
  color: var(--chalk);
  font-family: var(--josefin);
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10rem;
  background-image: linear-gradient(to right, #3f543f 0%, #eddcae 51%, #3f543f 100%);
}

.login-btn:hover {
  background-position: right center;
}