.ad-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 50px 10px 10px;
  margin: 10px;
  width: 300px;
  height: 430px;
  box-sizing: border-box; /* Include padding and border in the width and height */
}

.ad-card a {
  font-family: var(--font-heading);
  color: var(--primary-text);
}

.ad-card img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto; /* Center the image */
  border-radius: var(--border-radius);
}

.ad-card-content {
  text-align: center;
  width: 100%; /* Ensure content takes full width */
}

.heart-icon-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.heart-icon-btn img {
  width: 25px;
  height: auto;
}
