.ads-outer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ads-outer-wrapper-user {
    display: flex;
    flex-direction: column;
    width: 100%
}

.ads-inner-wrapper {
    display: flex;
    justify-content: flex-start;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

/********* MEDIA QUERIES *********/
@media (min-width: 745px) {
    .ads-outer-wrapper-user {
        flex-direction: row;
    }
}