.best-sellers-wrapper {
  background-color: var(--chalk);
}

.best-sellers-container {
  padding: 5rem;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-overlay {
  border-radius: 0.625rem;
  border: 1px solid var(--Forest, #3f543f);
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 50%, #333 100%);
}

.plant-card {
    width: 18rem;
    height: 25rem;
}