.my-favorites {
    background-color: #0000;
        color: #416641;;
        width: 100px;
        height: 35px;
        border-radius: 8px;
        /* border: solid 0.5px #557C55; */
        border: none;
        margin: 0;
}

.my-favorites:hover {
    background-color: #557C55;
    border: none;
    color: #F2FFE9;
}

.form-button {
    background-color: #557C55;
    color: #F2FFE9;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

.form-button:hover {
    background-color: #A6CF98;
}

.more-details {
    background-color: #0000;
        color: #416641;
        width: 100px;
        height: 35px;
        border-radius: 8px;
        border: solid 0.5px #557C55;
        margin: 0;
}

.more-details:hover{
    background-color: #557C55;
        border: none;
        color: #F2FFE9;
}

.like-button {
    border: none;
    background-color: rgba(255, 56, 56, 0.801);
    border-radius: 30px;
    width: 40px;
        height: 40px;
        font-size: 25px;
}

.like-button.clicked {
    background-color: black; 
    color: white;
  }

.logout-button {
    background-color: #0000;
    color: #416641;;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: none;
    margin: 0; 
}

.logout-button:hover {
    background-color: #557C55;
    border: none;
    color: #F2FFE9;
}