.contact-form {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 45px;
  text-align: center;
}

.close-btn {
  display: flex;
  align-items: flex-end;
}

form input {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.msg-box {
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.contact-title {
  font-size: 1.5rem;
}

.submit-btn {
  padding: 1em;
  cursor: pointer;
}
