@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.contact-form {
  font-family: "Roboto", sans-serif;
  width: 50%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin: 100px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.msg-box {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.contact-title {
  font-size: 1.5rem;
}

.submit-btn {
  cursor: pointer;
}
