.create-habit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    padding-left: 0px;
}

.create-habit-container .input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.create-habit-container .habit-input {
    color: black;
    padding: 10px;
    font-weight: 200;
    font-style: italic;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #f4eee3;
    border-radius: 25px;
    border: 1px solid grey;
    flex-grow: 1;
}

.create-habit-container .add-habit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px 10px;
    padding-top: 1px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

.create-habit-container .add-habit-button:hover {
    background-color: #3EC3CE;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.create-habit-container .plus-icon {
    width: 15px;
    margin-right: 5px;
}

.create-habit-container .delete-habit-button {
    border: #3EC3CE dotted 2px;
    color: #3EC3CE;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    width: auto;
    align-self: center;
    margin-top: 50px;
}

.create-habit-container .delete-habit-button:hover {
    background-color: #3EC3CE;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.create-habit-container .delete-icon {
    width: 14px;
    padding-right: 8px;
}