.disclaimer {
    background: #55424b88;
    min-height: 100vh;
    padding: 10vh 10vw;
}

.h1 {
    color: #fff2fe;
    padding: 30PX 0;
}

.h3 {
    color: #fff2fe;
}

.buttons {
    padding: 30px 0 0 0;
}

.h1Btn {
    color: #fff2fe;
}

.btnYes,
.btnNo {
    border: none;
    box-shadow: none;
    margin-right: 30px;
    padding: 7px 25px;
    border-radius: 35px;
}

.btnYes {
    background-color: #667D70;
    margin-right: 20px;
}

.btnYes:hover {
    background-color: #3D4B43;
}

.btnNo {
    background-color: #7F5B5B;
    margin-left: 20px;
}

.btnNo:hover {
    background-color: #4C3636;
}

.h1Btn:hover {
    color: #fffaf4;
}

@media (min-width: 767px) {
    .disclaimer {
        padding: 20vh 10vw 10vh 10vw;
    }

    .btnYes {
        margin-right: 30px;
    }

    .btnNo {
        margin-left: 30px;
    }
}

@media (min-width: 1285px) {
    .disclaimer {
        padding: 40vh 20vw 20vh 20vw;
    }

    .buttons {
        padding: 55px 0 0 0;
    }

    .btnYes {
        margin-right: 40px;
    }

    .btnNo {
        margin-left: 40px;
    }
}