.headermobile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.headermobile h1 {
    color: #3EC3CE;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.headermobile h2 {
    font-family: 'Bad Script', sans-serif;
    font-size: 20px;
}

.headermobile-quote {
    text-align: center;
    margin-top: -40px;
}