 /* Navbar */
 .navbar {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
 }

   .navbar a {
       color: white;
       text-decoration: none;
       margin: 0 10px;
   }

  