.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    position: relative; /* Added for positioning the close button */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .hamburger-menu {
    display: block;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #1e1e1e;
    margin: 5px 0;
    transition: 0.4s;
  }
  
 

  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%; /* Start off-screen to the right */
    bottom: 0;
    background-color: #333;
    width: 50%;
    text-align: center;
    overflow: hidden;
    max-height: 100vh; /* Adjust based on your content height */
    transition: right 0.5s ease-out; /* Animate from right to left */
  }
  .navbar-links.open {
    right: 0; /* Move the menu back to the visible area */
    transition: right 0.5s ease-in; /* Animate from left to right */
  }

    .close-button {
        font-size: 2.5rem;
        cursor: pointer;
        position: absolute;
        top: 8px;
        right: 220px;
        color: #fff; /* Set the color to white or your desired color */
        display: block;
       
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.4s;
  }
  
  .navbar-links a:hover {
    color: #f00; 
  }
  .navbar.open .close-button {
    display: block;
    /* Display the close button when the menu is open */
  }
  .nav-list {
    margin: 80px 0 0 0;
    list-style: none;
    text-align: center;
  }
  /* Media query for desktop devices */
  @media screen and (min-width: 900px) {
    
    .hamburger-menu {
        display: none;
       
      }
  
      .navbar-links {
        display: flex;
      }
  
      .close-button {
       display: none;
      }
  
   
  
   
  }

  