nav {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  margin: 0;
  padding: 20px 10px 0 10px;
  height: 5rem;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  height: 3em;
}

.navbar-logo img {
  margin-left: 30px;
  /* Increased margin-left for the logo */
}

.hamburger-menu {
  display: block;
  margin-left: 20px;
  margin-right: 15px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-background);
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.navbar-links {
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  background-color: var(--primary-background-black);
  width: 50%;
  text-align: center;
  overflow: hidden;
  max-height: 100vh;
  transition: right 0.5s ease-out;
  z-index: 2;
}

.navbar-links.open {
  font-family: var(--font-heading);
  font-size: 1.125rem;
  font-weight: 600;
  right: 0;
  transition: right 0.5s ease-in;
  z-index: 2;
  height: 100vh;
}

.close-button {
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 8px;
  color: #fff;
  display: block;
  left: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.4s;
}

.navbar-links a:hover {
  color: var(--nav-hover-text);
}

.nav-list {
  margin: 80px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 17px;
}

.app-ul .app-li {
  font-family: var(--font-heading);
  font-size: 1.125rem;
  display: none;
}

nav .app-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 15px;
}

.sign-out-text {
  font-family: var(--font-heading);
  color: var(--secondary-text);
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}

.sign-out-text:hover {
  color: var(--nav-hover-text);
}

/* Media query for desktop devices */
@media screen and (min-width: 1120px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 0;
    padding: 10px;
  }

  .navbar-logo {
    margin-right: auto;
  }

  .app-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .app-ul .app-li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }

  .app-ul .app-li a {
    color: var(--secondary-text);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.4s;
  }

  .app-ul .app-li a:hover {
    color: var(--cta-hover);
  }

  .logout-container {
    margin-left: auto;
    transition: color 0.4s;
  }

  .logout-container:hover {
    color: var(--cta-hover);
  }

  .sign-out-text:hover {
    color: var(--cta-hover);
  }

  .hamburger-menu,
  .navbar-links,
  .close-button,
  .nav-list {
    display: none;
  }

  .navbar-logo img {
    padding: 0;
    margin-left: 50px;
  }
}