.promptform-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 5% 0;
}

.promptform-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 30px;
    background-color: rgb(65, 101, 76, 0.5)
}

.instruction-text {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}

.ingredient-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* min-width: 240px; */
}

.textareas-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

textarea {
    border: 1.5px solid #173e34;
    border-radius: 1.6rem;
    font-family: Raleway;
    padding-left: 2%;
    padding-top: 2%;
    line-height: 0.8rem;
}

textarea:focus {
    border-color: #173e34;
    outline: none;
    box-shadow: 0 0 10px #173e34;
}

.checkbox-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

/* Styling for checkboxes instead of default colors */
input[type='checkbox']:checked {
    background-color: #173e34;
}

input[type='checkbox']:checked:after {
    content: '\2713';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='checkbox'] {
    vertical-align: middle;
    position: relative;
    width: 20px !important;
    height: 20px !important;
    margin-right: 3px;
    appearance: none;
    /*Om man tar bort denna rad hamnar de rätt men då blir koden fel för färgerna*/
    border-radius: 10%;
    border: 1px solid #173e34;
    box-shadow: none;
    background-color: white;
    font-size: 1em;
}

/* Checkbox-styling end */

.generate-button-container {
    display: flex;
    justify-content: center;
}

.generate-button {
    font-size: 1.1rem;
    background-color: #173e34;
    color: white;
    border: none;
    border-radius: 1.6rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 180px;
}

.generate-button:hover {
    border: 1px solid white;
}

button:hover {
    cursor: pointer;
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {


    .textareas-container {
        flex-direction: row;
    }

    .ingredient-form {
        width: 100%
    }

}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .promptform-box {
        margin: 50px 0;
    }

    .textareas-container {
        flex-direction: row;
        justify-content: space-around;
    }

    textarea {
        width: 30%;
    }

    .ingredient-form {
        width: 100%
    }
}