.promptform-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 5% 0;
}

.promptform-wrapper h2 {
    color: #173e34;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.promptform-box {
    margin: 10px;
    padding: 30px;
    background-color: rgb(65, 101, 76, 0.5)
}

.instruction-text {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.ingredient-form {
    display: flex;
    flex-direction: column;
}

.textareas-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

textarea {
    border: 1px solid #286052;
    border-radius: 1.6rem;
}

/* Adjusting placeholder text */
textarea::placeholder {
    font-size: 16px;
    line-height: 1.7rem;
    padding-left: 1%;
    font-family: Raleway;
}

.checkbox-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
    /* justify-content: space-between; */
}

.checkbox-options input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.checkbox-options label {
    position: relative;
    padding-left: 25px;
    /* Adjust as needed */
    cursor: pointer;
    color: white;
}

.checkbox-options label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #286052;
    border-radius: 4px;
    background-color: transparent;
}

.checkbox-options input[type="checkbox"]:checked+label::before {
    background-color: darkgreen;
    border-color: darkgreen;
}

/* Ev flyttas. Om alla knappar ska se likadana ut så kan denna flyttas till app */
.generate-button {
    font-size: 1.1rem;
    background-color: #173e34;
    color: white;
    border: 1px solid white;
    border-radius: 1.6rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.generate-button:hover {
    color: rgba(84, 101, 65, 0.5);
    border: 1px solid rgba(84, 101, 65, 0.5);
}

button:hover {
    cursor: pointer;
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {

    .promptform-wrapper h2 {
        margin-bottom: 2%;
    }

    .textareas-container {
        flex-direction: row;
    }

}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .promptform-box {
        margin: 50px 0;
        /* width: 50%;  */
    }

    .promptform-wrapper h2 {
        margin-bottom: 2%;
        font-size: 4.5vh;
    }

    .textareas-container {
        flex-direction: row;
        justify-content: space-around;
    }

    textarea {
        width: 30%;
    }

    .instruction-text {
        color: white;
    }
}