.search-bar {
  margin: 10px 0;
}

.search-bar input {
  height: 2.5rem;
  width: calc(100% - 36px);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  outline: none;
}

.search-bar .search-input {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}

.search-input {
  position: relative;
}

.search-bar .search-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 0 0 10px 0;
}

.search-bar .search-item img {
  width: 50px;
}

.search-icon {
  height: 2rem;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  right: 0px;
}

.filtered-ads {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.default-img {
  width: 100%;
  height: 100%;
}

.filtered-ads li {
  background-color: #fff;
  list-style: none;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.search-result,
.search-error {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (min-width: 1120px) {
  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: calc( - 36px);
  }
}
