.search-input {
  display: flex; /* Use Flexbox */
  align-items: center; /* Align children vertically */
  justify-content: center;
}

.search-bar input {
  height: 2.5rem;
  width: 100%; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  outline: none;
}

.search-icon {
  height: 2rem;
  cursor: pointer;
  margin-left: 10px; 
  margin-bottom: 15px;
}

.filtered-ads {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.default-img {
  width: 100%;
  height: 100%;
}

.filtered-ads li {
  background-color: #fff;
  list-style: none;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.search-result,
.search-error {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (min-width: 1120px) {
  .search-bar {
    width: 100%;
  }

  .search-bar input {
    max-width: 800px;
  }
}
