.user-ads-container {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column layout by default */
    grid-gap: 20px;
    /* Space between grid items */
    padding: 20px;
}

@media (min-width: 768px) {

    /* Tablet view */
    .user-ads-container {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns layout */
    }
}

@media (min-width: 1200px) {

    /* Desktop view */
    .user-ads-container {
        grid-template-columns: repeat(4, 1fr);
        /* Three columns layout */
    }
}

.user-ad {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .user-ad-actions {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}