.siteContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.mainContainer {
    grid-column: 2 / 6;
}

.headingContainer {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.headerImage {
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url('../assets/aboutus.png');
    background-size: 100%;
    background-position: bottom;
    height: 10em;
    padding-left: 2em;
}

.textWrapper {
    min-height: 15em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    padding: 2em;
}

.aboutUs {
    color: #42531D;
    font-size: 1.5em;
}

@media screen and (max-width: 667px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .mainContainer {
        grid-column: 1 / 2;
    }

    .headingContainer {
        flex-direction: column;
        gap: 0em;
    }

    .headerImage {
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .siteContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainContainer {
        grid-column: 1 / 3;
    }

    .headingContainer {
        flex-direction: column;
        gap: 0em;
    }
}