.mainContainer {
    background-image: url('../assets/info-dog.webp');
    background-position: center;
    display: flex;
    height: 40em;
}

.textContainer {
    max-width: 50%;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

@media screen and (max-width: 667px) {
    .mainContainer {
        height: 23em;
        align-items: center;
        justify-content: left;
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .textContainer {
        text-align: left;
        max-width: 40%;
        padding-left: 1em;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .mainContainer {
        height: 35em;
        align-items: center;
        justify-content: left;
        background-size: 120%;
        background-repeat: no-repeat;
    }

    .textContainer {
        text-align: left;
        max-width: 40%;
        padding-left: 2em;
    }
}