.siteContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.mainContainer {
    grid-column: 2 / 6;
}

.headingContainer {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

@media screen and (max-width: 667px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .mainContainer {
        grid-column: 1 / 2;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .siteContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainContainer {
        grid-column: 1 / 3;
    }
}