.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-direction: row;
    gap: 3em;
    text-wrap: nowrap;
}

.navContainer p:hover {
    cursor: pointer;
}

.navLink {
    text-decoration: none;
}

.navContainer p:hover {
    color: #42531D;
}

@media screen and (max-width: 667px) {
    .mainContainer {
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        padding: 0em 1em 0em 1em;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .mainContainer {
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        padding: 0em 1em 0em 1em;
    }

    .mainContainer p {
        font-size: 1.5em;
    }
}