.siteContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100%;
}

.mainContainer {
    grid-column: 2 / 6;
}

.headingContainer {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.headerImage {
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url('../assets/profile1.webp');
    background-size: 100%;
    background-position: 0% 25%;
    height: 10em;
    padding-left: 2em;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: left;
    padding: 1em 0em 1em 0em;
}

@media screen and (max-width: 667px) {
    .siteContainer {
        grid-template-columns: 1fr;
    }

    .mainContainer {
        grid-column: 1 / 2;
    }

    .headingContainer {
        flex-direction: column;
        gap: 0em;
    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .siteContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .mainContainer {
        grid-column: 1 / 3;
    }

    .headingContainer {
        flex-direction: column;
        gap: 0em;
    }
}