.button, 
button.button { 
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: var(--font-size-label);
    font-weight: 700;
    font-family: inherit;
    background-color: var(--cta);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--cta-text);
}

.button:hover, 
button.button:hover {
    border-color: #646cff;
    color: var(--cta-hover-text);
    background-color: var(--cta-hover);
}

.button:focus, 
.button:focus-visible, 
button.button:focus, 
button.button:focus-visible { 
    outline: 4px auto -webkit-focus-ring-color;
}
