.image-small {
    width: 125px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
    /* Center the image */
    border-radius: var(--border-radius);
}

.image-medium {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    /* Center the image */
    border-radius: var(--border-radius);
}

.image-large {
    width: 500px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    /* Center the image */
    border-radius: var(--border-radius);
}