.recipe-details {
  line-height: 1.25;
  padding: 0 10px; 
  margin: 20px 0px;
}

.recipe-details h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.servings {
  display: flex;
  gap: 5px;
}

.servings svg {
  color: white;
  background: #173e34;
  padding: 3px;
  border-radius: 50%;
  stroke-width: 0.5;
}

.servings p {
  display: flex;
  align-items: center;
  font-size: 12px;

}

.recipe-info {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.user-input-details {
  display: flex;
  gap: 3px;
}

.input-tag-details {
  display: flex;
  align-items: center;
  background-color: #173e34;
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}


.recipe-details img {
  width: 100%;
  height: 100vw;
  /* Set the height to be equal to the viewport width */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

.save-recipe {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.description {
  margin-top: 15px;
  font-weight: 600;
}

.recipe-details h3 {
  margin-top: 15px;
}

.details-desktop-container {
  display: flex; 
}

.details-text-container {
padding: 0 50px; 
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
  .recipe-details {
    padding: 0 20px; 
    margin: 50px 12px; 
  }

  .recipe-details img {
    width: 100%;
    height: 50vw;
  } 
}

/* ---------DESKTOP VIEW----------*/
@media (min-width: 1025px) {
  .recipe-details {
    margin-left: 25px;
  }

  .recipe-details img {
    width: 45%;
    height: 50vw;
    /* height: 40%; */
  }

  .recipe-details h1 {
    font-size: 2.5rem;
  }
}


/* ---------DESKTOP VIEW----------
@media (min-width: 1025px) {
  .recipe-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    margin-top: 20%;
  }

  .recipe-details img {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
    height: auto;
  }

  .recipe-details h1,
  .description,
  .tab-buttons,
  .ingredients,
  .method {
    grid-column: 2 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .recipe-details h1 {
    order: -1;
    margin-bottom: 20px;
  }

  .recipe-info,
  .servings,
  .user-input-details {
    margin-bottom: 20px;
  }

  .recipe-details h3 {
    margin-top: 0;
  }
} */