.collection-recipe-card {
  line-height: 1.25; 
}

.collection-recipe-card h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 0.3em 0 0.7em 0; 
}

.collection-recipe-card p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13px; 
}

.collection-recipe-image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 100%; /* This creates a square aspect ratio */
}

.collection-recipe-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the entire container */
}

.user-input-collection {
  display: flex; 
  gap: 3px; 
}
