.collection-recipes {
    background-color: rgb(253, 240, 236);
    padding: 1rem; 
   
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
    .recipe-grid{
        grid-template-columns: repeat(3, 1fr);
    }
  }
  

  /* ---------DESKTOP VIEW---------- */
  @media (min-width: 1025px) {
    .recipe-grid {
        grid-template-columns: repeat(4, 1fr);
    }
  }