.about-container {
    margin-top: 24%;
    margin-bottom: 24%;
    margin-left: 4%;
    margin-right: 4%;
}

.about-vision h3,
.about-tech h3,
.project-info h3 {
    text-align: center;
    padding-bottom: 4%;
}

.about-vision p,
.about-tech p {
    margin-bottom: 12%;
    text-align: justify;
}

.project-info p {
    margin-bottom: 24%;
    text-align: justify;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

/* Style for each card */
.card-content {}

/* Style for the card image */
.card img {
    width: 30vw;
    height: 15vh;
    /* Adjust the aspect ratio (height/width) as needed */
    object-fit: cover;
    border: 2px solid #286052;
    /* Width, Style, Color */
}

/* Style for the card title */
.card h3 {
    margin-top: 4%;
    margin-bottom: 4%;
}


/* Style for the social media icons */
.contact-idah,
.contact-emmy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4%;
}

.contact-idah a,
.contact-emmy a {
    color: #286052;
    /* Default color for icons */
    transition: color 0.3s ease;
    /* Smooth transition effect */
}

/* Change icon color on hover */
.contact-idah a:hover,
.contact-emmy a:hover {
    color: #86bca8;
}


/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {

    .about-vision,
    .about-tech,
    .project-info {
        display: flex;
        flex-direction: row;
        gap: 12%;
    }

    .about-container {
        margin-left: 12%;
        margin-right: 12%;
    }

    .card img {
        width: 30vw;
        height: 20vh;
        /* Adjust the aspect ratio (height/width) as needed */
    }

}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .about-tech {
        display: flex;
        flex-direction: row;
    }
}