.story-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the children */
}

.filter-options {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  position: relative;
}

.dropdowns {
  padding: 8px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgba(108, 117, 125, 0.7);
}

.story-card-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}
.story-cards {
  flex-basis: 40%;
}
.story-card-list .story-image {
  padding: 5px;
}
.story-image img {
  padding: 5px;
}
.story-card-list .story-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.story-card-list .story-info {
  margin-bottom: 10px;
  font-size: 12px;
}
.story-info h3 {
  color: #242424;
  font-size: 1.2em;
}
.story-card-list .story-content p {
  color: #242424;
  padding: 5px;
}

.story-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  flex-basis: 60%;
  /* max-height: 200px; */
  overflow-y: auto;
}

.story-content h3 {
  color: #242424;
  padding-top: 10px;
}
.story-footer span {
  color: #242424;
}
.story-footer {
  height: 30px;
  font-size: 12px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-icon {
  width: 25px;
  margin-left: 20px;
}
.story-card-list .story-footer {
  display: flex;
  align-items: center;

  color: #242424;
}
.story-card-list .story-footer img {
  filter: invert(0);
}
.story-card-list img {
  width: 25px;
  margin-right: 3px;
}

/* .story-cards {
    position: relative;
    z-index: 20;
  }  */
@media (min-width: 600px) {
  .story-card-list .story-content {
    max-height: 300px;
  }
  .story-card-list {
    max-height: 320px;
    max-width: 650px;
  }
}
