.new-story-container {
  padding: 3%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  font-size: 18px;
  padding: 4%;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  width: 70%;
}

.category {
  font-size: 18px;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  padding: 2%;
  width: 70%;
}

.gallery-button {
  font-size: 18px;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  padding: 2%;
  width: 70%;
}

.gallery {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color: black;
  border: 5px solid rgba(2, 108, 124, 0.7);
  border-radius: 20px;
  margin: 15%;
}

/* POPUPKALENDERN
 .date-picker {
  width: 70%;
  background-color: rgba(2, 108, 124, 0.7);
  border: 2px solid rgba(2, 108, 124, 0.7);
  border-radius: 10px;
  padding: 0.3%;
} */

@media screen and (min-width: 1000px) {
  .input-field,
  .category,
  .gallery-button {
    width: 100%;
  }
}
