.new-story-container {
  position: relative;
  padding: 3%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  font-family: "Rethink Sans", sans-serif;
}

.input-field {
  font-size: 18px;
  padding: 4%;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  width: 70%;
  z-index: 10;
}

.category {
  font-size: 18px;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  padding: 2%;
  width: 70%;
  z-index: 10;
}

.location {
  margin-bottom: 8%;
  margin-top: -2%;
}

.gallery-button {
  font-size: 18px;
  border: 2px solid rgba(2, 108, 124, 0.7);
  margin: 3%;
  padding: 2%;
  width: 70%;
  z-index: 30;
}

.gallery {
  position: absolute;
  width: 70%;
  height: 25%;
  display: flex;
  justify-content: center;
  padding: 3%;
  background-color: black;
  border: 5px solid rgba(2, 108, 124, 0.7);
  border-radius: 20px;
  margin: 10%;
  z-index: 400;
}

.gallery img {
  height: 100%;
  width: 100%;
  z-index: 400;
}

.image-buttons {
  background-color: black;
  border-color: none;
  padding: 0;
  width: 15%;
  margin: 0%;
  z-index: 400;
}

/* POPUPKALENDERN
 .date-picker {
  width: 70%;
  background-color: rgba(2, 108, 124, 0.7);
  border: 2px solid rgba(2, 108, 124, 0.7);
  border-radius: 10px;
  padding: 0.3%;
} */

@media screen and (min-width: 1000px) {
  .input-field,
  .category,
  .gallery-button {
    width: 100%;
  }

  .gallery {
    height: 40%;
  }
}

@media screen and (min-width: 2000px) {
  .gallery {
    height: 50%;
  }
}
