.accordion {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.accordion-item {
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--josefin);
  padding: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.accordion-content {
  font-family: var(--montserrat);
  padding: 0.5rem 1rem 2rem;
  line-height: 1.7;
  font-size: 0.8rem;
}

.accordion-content li {
}

.accordion-content li:hover {
}

.accordion-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}


/* FOOTER ACCORDION STYLES */
footer .accordion-item {
  border-bottom: 1px solid var(--spring);
}

footer .accordion-header {
  color: var(--sand);
  text-transform: uppercase;
}

footer .accordion-content {
  color: var(--chalk);
}

footer .accordion-content li {
  color: var(--chalk);
  transition: ease 0.4s;
  width: fit-content;
}

.accordion-content li:hover {
  color: var(--sand);
}


/* CHECKOUT ACCORDION */

.checkout-section .accordion-item {
  border-bottom: 1px solid var(--breeze);
}

.checkout-section .accordion-header {
  color: var(--forrest);
  text-transform: uppercase;
}

.checkout-section .accordion-content {
  font-size: 1rem;
  color: var(--forrest);
}