.accordion {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid var(--spring);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sand);
  font-family: var(--josefin);
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.accordion-content {
  font-family: var(--montserrat);
  padding: 0.5rem 1rem 2rem;
  color: var(--chalk);
  line-height: 1.7;
}

.accordion-content li {
  color: var(--chalk);
  transition: ease 0.4s;
  width: fit-content;
}

.accordion-content li:hover {
  color: var(--sand);
}

.accordion-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
}
