.inspo-wrapper {
  background-color: var(--chalk);
  padding: 2rem 1rem;
}

.text-button-wrapper {
  text-align: right;
}

.inspo-text {
  color: var(--charcoal);
  font-family: var(--montserrat);
  line-height: 2.4rem;
  letter-spacing: 0.09rem;
}

.inspo-box {
  background-color: var(--spring);
  height: 100px;
}
