.insta-section-wrapper {
    background-color: var(--breeze);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

.insta-section-wrapper h2 {
    color: var(--forrest);
    font-weight: 700;
    letter-spacing: 0.06875rem;
}