.add-habits-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    padding: 40px;
    padding-left: 0px;
}

.add-habit {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border: none;
    background-color: white;
}

.habit-input {
    border-radius: 10px;
    border: 1px grey solid;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.add-habit:hover {
    border: none;
}

.plus {
    width: 30px;
}

.delete-habit {
    border: red dotted 2px;
    margin-top: 30px;
    color: red;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.delete-trash-icon {
    width: 14px;
    padding-right: 8px;
}