.add-habits-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 40px;
    padding-left: 0px;
}

.input-button-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
}

.add-habit {
    width: 100%;
    font-size: 12px;
    text-align: left;
    border: none;
    background-color: white;
}

.habit-input {
    border-radius: 10px;
    border: 1px grey solid;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    flex-grow: 1; 
}

.add-habit {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    padding: 5px 10px; 
    font-size: 13px;
    border: none;
    background-color: #f0e9dc; 
    cursor: pointer; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}

.add-habit:hover {
    background-color: #e0e0e0; 
}

.plus {
    width: 15px; 
    margin-right: 5px; 
}

.delete-habit {
    border: #3EC3CE dotted 2px;
    color: #3EC3CE;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px 10px; 
    width: auto; 
    align-self: center; 
    margin-top: 50px;
}

.delete-habit:hover {
    background-color: #3EC3CE;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.delete-trash-icon {
    width: 14px;
    padding-right: 8px;
}