.habits-container {
  text-align: left;
  margin: 100px auto;
  max-width: 900px;
}

.habits-container h2 {
  font-weight: 500;
}

.habits-container h3 {
  font-weight: 500;
  margin-top: 20px;
}

.one-habit {
  border-radius: 20px;
  padding-left: 20px;
}

.habit-bg-first {
  background-color: #E7FDFF;
  border-radius: 20px;
  margin-bottom: 15px;
}

.habit-bg-second {
  background-color: #F2FFE7;
  border-radius: 20px;
  margin-bottom: 15px;
}

.habit-bg-third {
  background-color: #FFE7F9;
  border-radius: 20px;
  margin-bottom: 15px;
}

.habit-bg-forth {
  background-color: #FFF6E7;
  border-radius: 20px;
  margin-bottom: 15px;
}

.habit-name-container {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.finished {
  color: green;
  background-color: transparent;
}

.unfinished {
  background-color: transparent;
}

.day-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.day {
  margin-right: 10px;
}

.days-wrapper {
  display: flex;
  align-items: row;
  flex-wrap: wrap;
}

.day-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c2e7eb;
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 0;
}

.day-circle.finished {
  background-color: #a0e0a0;
}

.day-circle.unfinished {
  background-color: #f0f0f0;
}

.finished-weeks {
  width: 100%;
  padding-top: 10px;
  text-align: left;
}

.trash-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  margin-top: -40px;
}

.trash-icon {
  width: 20px;
}

.trash {
  background-color: transparent;
  border: none;
  padding: none;
  cursor: pointer;
}

.trash:hover {
  border: none;
}

/* Dotted line */
.habits-container hr {
  border: none;
  border-top: 8px dotted #3EC3CE;
  color: #fff;
  background-color: none;
  height: 1px;
  width: 100%;
  margin-left: 0px;
  padding-bottom: 40px;
  position: relative;
}

.access-denied-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.message-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.message-box h2 {
  color: #3EC3CE;
  font-size: 30px;
  margin-bottom: 10px;
}

.message-box p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.message-box a {
  text-decoration: none;
  font-weight: bold;
}

.message-box a:hover {
  text-decoration: underline;
}