.habits-container {
    text-align: left;
    margin-left: 120px;
    margin-top: 100px;
    width: 900px;
}

.habits-container h2 {
    font-weight: 500;
}

.habits-container h3 {
    font-weight: 500;
    margin-top: 40px;
}

.one-habit {
    background-color: #c2e7eb;
    border-radius: 20px;
    padding: 20px;
}

.finished {
    color: green;
    background-color: transparent;
}

.unfinished {
    color: red;
    background-color: transparent;
}

.trash-icon {
    width: 20px;
}

.trash {
    background-color: transparent;
    border: none;
    padding: none;
}

.trash:hover {
    border: none;
}

/* Dotted line */
.habits-container hr {
    border: none;
    border-top: 8px dotted #3EC3CE;
    color: #fff;
    background-color: none;
    height: 1px;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 40px;
    position: relative;
}