.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/notebook.png");
    background-size: cover;
}

.register-container h2 {
    color: #3EC3CE;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.register-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.calender-lottie-container {
    width: 600px;
}

.user-registration {
    margin: 40px;
}

.register {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #3EC3CE;
    width: 250px;
    margin-bottom: 40px;
    border: none;
}

.register:hover {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #E7FDFF;
    width: 250px;
    margin-bottom: 40px;
    border: none;
}

/* Mobile */
@media (max-width: 393px) {

    .register-container {
        background-image: url("/notebook.png");
        background-size: cover;
        background-position: 30%;
    }

    .calender-lottie-container {
        width: 300px;
    }

}

/* Tablet */
@media (min-width: 394px) and (max-width: 834px) {

    .register-container {
        background-image: url("/notebook.png");
        background-size: cover;
        background-position: 30%;
    }

    .calender-lottie-container {
        width: 450px;
    }

}