.whoarewe-container {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    padding: 30px;
}

.whoarewe-info {
    display: flex;
    flex-direction: row;
}

.whoarewe-text {
    display: flex;
    flex-direction: column;
}

.whoarewe-container h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    text-align: left;
}

.whoarewe-container h3 {
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0px;
}

.whoarewe-container p {
    width: 500px;
    padding-left: 20px;
    text-align: left;
}

.whoarewe-container img {
    width: 25%;
    border-bottom: 10px solid #3EC3CE;
    border-left: 10px solid #3EC3CE;
}

.github img {
    border: none;
    width: 30px;
    padding: 0 auto;
    margin: 0 auto;
}

.github {
    border: none;
    margin-left: 20px;
    width: 40px;
    border-radius: 40%;
}

.github:hover {
    background-color: #3EC3CE;
    border: none;
}