.movie-poster {
	display: none;
}

.the-screen {
	background-color: var(--screen-color);
	color: var(--screen-text-color);
	width: 70%;
	margin: 0 auto;
	font-size: 1rem;
}

.seat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.the-rows {
	display: flex;
}
.the-rows label {
	margin-right: 5px;
}
.seat {
	background-color: var(--primary-color);
	height: 15px;
	width: 15px;
	margin: 3px;
	border-radius: 50%;
}
.seat.booked {
	background-color: var(--secondary-color);
}
.seat.selected {
	background-color: var(--selection-color);
}

.seat:not(.booked):hover {
	cursor: default;
	transform: scale(1.2);
}
.seat-legend:not(.booked):hover {
	cursor: default;
	transform: scale(1);
}

.seat-legend {
	background-color: var(--screen-color);
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--screen-text-color);
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
.seat-legend li {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	margin: 0 5px;
}
.seat-legend li span {
	margin: 2px;
}

.booking-container .button-container {
	flex-direction: column;
}

.ticket-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

@media (min-width: 667px) and (max-width: 1025px) {
	.seat-legend li {
		font-size: 1rem;
	}

	.the-screen {
		width: 90%;
	}
	.seat-legend {
		width: 100%;
	}

	.booking-container {
		display: grid !important;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 0.5fr 2fr 1fr;
	}
	.movie-title {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.cinema-container {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.selected-ticket-container {
		grid-column-start: 2;
		grid-row-start: 2;
	}
	.booking-container .button-container {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		flex-direction: row;
	}
}

@media (min-width: 1026px) {
	.seat-legend li {
		font-size: 1rem;
	}

	.the-screen {
		width: 60%;
	}
	.seat-legend {
		width: 70%;
	}

	.booking-container {
		display: grid !important;
		gap: 10px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 0.5fr 2fr 0.1fr 1fr;
	}
	.movie-title {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		text-align: left;
		font-size: 4rem;
	}
	.movie-poster {
		display: block;
		width: 200px;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.cinema-container {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.selected-ticket-container {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
	}
	.booking-container .button-container {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
		flex-direction: row;
	}

	.booking-container .ticket-container {
		justify-content: flex-start;
	}
}
