.tab-button {
    display: inline-flex;
    background-color: #dbdbdb;
    border-radius: 50px;
    margin-top: 15px;
}

.tab-button-ingredients {
    border: none;
    background: transparent;
    border-right: solid white 5px;
    padding: 1em;
}

.tab-button-method {
    border: none;
    background: transparent;
    padding: 1em;
}

.tab-button-method.active,
.tab-button-ingredients.active  {
    background-color:  #173e34;
    color: white;
  }

  .tab-button-ingredients.active {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .tab-button-method.active {
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
  
  }