.home-container {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
}

/* Playgrounds */
.playground {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px; /* Set a fixed width for each box */
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 500px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .playground a {
    color: #007bff;
    text-decoration: none;
    display: block; /* Ensure the anchor takes full width within the box */
    margin-top: 10px; /* Add some spacing between the content and the link */
  }
  
  /* Allow content to determine the height */
  .playground h2,
  .playground p {
    margin: 0;
  }
  
  .playground p {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Navbar */
  .navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

 /* Hero */
.hero {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%; 
  height: auto;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 0;
}