.footer {
    height: 16vh;
    padding: 1rem;
    background-color: #173e34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

/* OBS! ÄNDRA DENNA NÄR ÄNDRAR TILL EV LOGO */
.footer-title a {
    color: white;
}

.footer p {
    color: white;
    line-height: 1.5;
    text-align: center;
}

.footer p a {
    font-weight: bolder;
    color: white;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    gap: 30%;
    list-style: none;
    padding: 0;
    margin-top: 2%;
    /* Removing default padding */
}

.footer-nav a {
    font-size: 3vh;
}

.footer-nav svg {
    color: #173e34;
    background: white;
    padding: 10%;
    border-radius: 50%;
    stroke-width: 1.3;
    /* Changes how bold the strokes are in the react icons */
}

/* Hover effects */
.footer p a:hover {
    color: #86bca8;
}

.footer-nav svg:hover {
    color: #86bca8;
}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .footer {
        flex-direction: row;
    }
}