.about-us h2 {
  padding-bottom: 5%;
  color: #c98686;
}

.about-us {
  font-size: 18px;
  margin: 10%;
}

i {
  color: #c98686;
  font-family: cursive;
}

.about-img {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.about-img img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .about-us {
    font-size: 25px;
  }
}
