.the-calendar {
	background-color: var(--background-section-color-two);
	width: 90vw;
}

.the-row-calendar .slick-list {
	position: relative;
	display: block;
	margin: 20px;
	width: 70vw;
}
.the-day {
	box-shadow: 0 4px 8px var(--box-shadow-color);
	border-radius: 1rem;
}
.the-day:hover {
	opacity: 0.2;
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}
.selected {
	background-color: var(--primary-color);
}

.slick-slide {
	margin: 0 1rem;
	width: 100px !important;
	height: 100px;
}

.slick-dots {
	display: none !important;
}

@media (min-width: 667px) {
	.the-calendar {
		width: 80vw;
	}
	.the-row-calendar .slick-list {
		width: 70vw;
	}
}

/* Media Query: Further adjust grid for screens wider than 1025px */
@media (min-width: 1025px) {
	.the-calendar {
		width: 80vw;
	}
	.the-row-calendar .slick-list {
		width: 75vw;
	}
	.slick-slide {
		width: 200px !important;
	}
}

@media (prefers-color-scheme: light) {
	.the-day {
		box-shadow: 0 1px 2px var(--box-shadow-color);
	}
	.selected {
		background-color: var(--box-shadow-color);
	}
}
