.the-calendar {
	background-color: var(--background-section-color-two);
}

.the-row-calendar .slick-list {
	position: relative;
	display: block;
	margin: 20px;
	padding: 2rem;
	width: 1280px;
}
.the-day {
	height: 100%;
	box-shadow: 0 4px 8px var(--box-shadow-color);
	border-radius: 1rem;
}
.the-day:hover {
	opacity: 0.2;
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}
.selected {
	background-color: var(--primary-color);
}

.the-row-calendar {
	padding: 2rem;
}

.slick-slide {
	margin: 0 1rem;
	height: 100%;
	width: 200px !important;
}

.slick-dots {
	color: aqua !important;
}
