.the-detail-page {
	padding: 30px;
	color: white;
	min-height: 100vh;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-size: cover;
}
.detail-container {
	align-items: flex-start;
}
.movie-poster {
	max-width: 200px;
}
.movie-title-container h1 {
	font-size: 1.5rem;
}
.more-info p {
	font-weight: bold;
}

.showtime-container p {
	padding: 0.3rem 2rem;
	text-align: center;
	border-radius: 2rem;
	background-color: var(--primary-color);
	display: inline-block;
}

@media (min-width: 667px) {
	.movie-poster {
		max-width: 250px;
	}
}

@media (min-width: 1025px) {
	.detail-container {
		max-width: 1100px;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 2rem;
		margin-top: -4rem;
	}
	.movie-poster {
		max-width: 400px;
	}
	.movie-title-container {
		display: flex;
		align-items: center;
	}

	.movie-title,
	.rating {
		margin: 0;
	}

	.movie-title-container h1 {
		font-size: 2rem;
	}
	.rating {
		margin-left: 1rem;
	}
	.details {
		margin-top: -10rem;
	}
	.description-container {
		display: flex;
		flex-direction: row;
	}
	.more-info {
		text-align: left;
		padding: 0 1rem 0 2rem;
		margin: 0 1rem;
	}
	.description {
		width: 50%;
		line-height: 1.5;
		text-align: left;
	}
	.showtime-container {
		display: flex;
		flex-direction: row;
		margin-left: 3rem;
		margin-top: 1rem;
	}
	.the-showtimes {
		display: flex;
		flex-direction: row;
	}
}
