.background-poster {
	position: relative;
}

.background-poster img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.detail-page {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, transparent 100%);
}

.summary {
	display: flex;
	flex-direction: column;
	padding: 50px;
	color: white;
	text-align: start;
	z-index: 1;
	width: 100%;
	margin-bottom: 50px;
	/* border: solid red 3px; */
}

.summary img {
	max-width: 50%;
	margin-right: 20px;
	margin-bottom: 30px;
	border: solid white 3px;
}

.rating:before {
	margin-left: 15px;
	content: url(../assets/star.svg);
}

.details {
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-end;
	margin-bottom: 30px;
}

/* Additional styles for movie title and rating */
.details h1 {
	font-size: 20px;
	text-shadow: 1px 1px #4d4d4d;
	line-height: 1;
}

.summary p {
	font-size: 14px;
	margin: 16px 0;
	line-height: 1;
}

@media (min-width: 577px) {
	.detail-page {
		justify-content: flex-start;
	}

	.summary {
		flex-direction: row;
		align-items: flex-end;
		width: 100%;
	}

	.summary img {
		max-width: 250px;
	}

	.details {
		height: 260px;
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: flex-end;
	}
}

@media (min-width: 933px) {
	.summary {
		width: 80%;
	}
	.summary img {
		max-width: 30%;
	}

	.details {
		height: 260px;
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: flex-end;
	}
}
