.the-movie-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	margin: 10px;
	/* background-color: var(--background-section-color-three); */
}

.the-movie-item {
	width: 100%;
	height: 100%;
	box-shadow: 0 4px 8px var(--box-shadow-color);
	padding: 10px;
	background-color: var(--background-color);
}
.movie-item {
	text-align: center;
}

/* Create a container for the image with overflow hidden */
.movie-image {
	position: relative; /* Set the position to "relative" to allow for positioning of inner elements */
	overflow: hidden; /* Hide overflow content within the .movie-image container */
}

.movie-image img {
	max-width: 100%;
	height: auto;
	display: block;
}

.image-overlay h2 {
	font-size: 1rem;
	font-weight: bold;
}

.image-overlay p {
	padding-left: 10px;
	text-align: center;
}

.image-overlay h2 {
	text-align: center;
	padding-left: 10px;
	padding-bottom: 5px;
}

.movie-image:hover .image-overlay {
	opacity: 1; /* Change overlay opacity to 1 when hovering */
}
