.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to top, rgb(55, 95, 74, 0.7) 5%, rgb(240, 234, 208, 0.1) 80%), url("/src/assets/hero-forest.jpg");
    background-size: cover;
    /* height: 350px; */
    width: 100%;
    /* background-attachment: fixed;  Fix the background image in place  */
    background-position: 50% 70%;
    /* Adjust the percentage to move the visible part vertically */
}


/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
    .hero {
        height: 450px;
    }
}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .hero {
        /* height: 450px; */
        background-position: 10% 55%;
    }
}