.articles-front {
    margin: 30px;
    padding-bottom: 70px;
    overflow: hidden;
}

.articles-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.articles-front img {
    width: 300px;
}

.articles-front h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: left;
    margin-left: 190px;
}

.articles-front h3 {
    text-align: left;
    width: 300px;
}