.articles-frontmobile {
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.articles-displaymobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles-frontmobile img {
    width: 330px;
}

.articles-frontmobile h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;

}

.articles-frontmobile h3 {
    text-align: left;
    width: 330px;
}

.articles-frontmobile p {
    text-align: left;
    color: #3EC3CE;
    font-style: italic;
    font-size: 12px;
}

/* Dotted line */
.articles-displaymobile hr {
    border: none;
    border-top: 8px dotted #3EC3CE;
    color: #fff;
    background-color: none;
    height: 1px;
    width: 93%;
    margin-left: 0px;
    padding-bottom: 40px;
    position: relative;
}