.articles-fronttablet {
    margin: 30px;
    padding-bottom: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.articles-displaytablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.articles-fronttablet img {
    width: 600px;
}

.articles-fronttablet h2 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;

}

.articles-fronttablet h3 {
    text-align: left;
    width: 600px;
}

.articles-fronttablet p {
    text-align: left;
    color: #3EC3CE;
    font-style: italic;
    font-size: 12px;
}

/* Dotted line */
.articles-displaytablet hr {
    border: none;
    border-top: 8px dotted #3EC3CE;
    color: #fff;
    background-color: none;
    height: 1px;
    width: 93%;
    margin-left: 0px;
    padding-bottom: 40px;
    position: relative;
}