.how-it-works-container {
    text-align: left;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

.how-it-works-container h1 {
    color: #3EC3CE; 
}

.how-it-works-container h2 {
    margin: 10px 0; 
}
