.how-it-works-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    gap: 420px;
}

.how-it-works-container h1 {
    color: #3EC3CE; 
}

.how-it-works-container h2 {
    margin: 10px 0; 
}

.how-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-column hr {
    border: none;
    border-top: 10px dotted #3EC3CE;
    color: #fff;
    background-color: none;
    height: 1px;
    width: 70%;
    margin-left: 0px;
    padding-bottom: 40px;
    position: relative; 
}