.whymobile-container {
    display: flex;
    flex-direction: column;
    background-color: #F0E9DC;
}

.whymobile-container img {
    width: 15px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}

.whymobile-container h2 {
    color: #3EC3CE;
    font-weight: 700;
    font-size: 35px;
}

.whymobile-container h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}

.become-membermobile {
    background-color: #3EC3CE;
    color: black;
    border: 4px dashed #EEE0C9;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    width: 230px;
    height: 150px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.become-membermobile:hover {
    border: 4px dashed #EEE0C9;
    background-color: #E7FDFF;
}