.wrapper {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 40px 0;
}

.SbodyText {
    margin-bottom: 40px;
    /* Adjust the value as needed */
}

.h1 {
    color: #1D1C25;
    justify-self: center;
    grid-column: span 2;
    padding-top: 20px;
}

.AboutusText {
    grid-column: span 2;
    justify-self: center;
    width: 70%;
}

.p {
    padding: 10px 0;
    text-align: left;
}

.imgBruun {
    grid-column: 1/2;
    width: 60%;
    justify-self: center;
    padding-top: 30px;
}

.membersBruun {
    grid-column: 1/2;
    text-align: left;
    padding: 0px 10px 20px 30px;
    justify-self: right;
}

.imgMima {
    grid-column: 2/3;
    width: 60%;
    justify-self: center;
    padding-top: 30px;
}

.membersMima {
    grid-column: 2/3;
    text-align: left;
    padding: 0px 30px 20px 10px;
    justify-self: left;
}

.imgFulba {
    grid-column: 1/2;
    width: 60%;
    justify-self: center;
}

.membersFulba {
    grid-column: 1/2;
    text-align: left;
    padding: 0px 10px 20px 30px;
    justify-self: right;
}

.imgInemy {
    grid-column: 2/3;
    width: 60%;
    justify-self: center;
}

.membersIneMy {
    grid-column: 2/3;
    text-align: left;
    padding: 0px 30px 40px 10px;
    justify-self: left;
}

.BackToButton {
    padding: 25px;
    grid-column: span 2;
}

/* iPad Pro 11" */
@media (min-width: 767px) and (max-width: 1028px) {
    .imgBruun {
        padding: 40px 40px 0 0;
        width: 50%;
        justify-self: end;
    }

    .imgMima {
        padding: 40px 0 0 40px;
        width: 50%;
        justify-self: start;
    }

    .imgFulba {
        padding: 10px 40px 0 0;
        width: 50%;
        justify-self: end;
    }

    .imgInemy {
        padding: 10px 0 0 40px;
        width: 50%;
        justify-self: start;
    }

    .h1 {
        padding-top: 40px;
    }

    .membersFulba {
        padding: 0px 10px 40px 30px;
    }


    .membersIneMy {
        padding: 0px 30px 40px 10px;
    }

}

/*Macbook Air*/
@media (min-width: 1028px) {
    .wrapper {
        padding: 80px 0 90px 0;
        grid-gap: 30px;
    }

    .imgBruun {
        padding: 40px 40px 0 0;
        width: 50%;
        justify-self: end;
    }

    .membersBruun {
        padding: 0px 5vw 20px 0px;
        justify-self: right;
    }

    .imgMima {
        padding: 40px 0 0 40px;
        width: 50%;
        justify-self: start;
    }

    .membersMima {
        padding: 0 0 0 6vw;
        justify-self: left;
    }

    .imgFulba {
        padding: 0px 40px 0 0;
        width: 49%;
        justify-self: end;
    }

    .membersFulba {
        padding: 0px 5vw 60px 0px;
        justify-self: right;
    }

    .imgInemy {
        padding: 0px 0 0 40px;
        width: 50%;
        justify-self: start;
    }

    .membersIneMy {
        padding: 0 0 60px 6vw;
        justify-self: left;
    }

    .p {
        padding: 10px 0;
        text-align: left;
        max-width: 700px;
        margin: 0 auto;
    }
}