.about {
  color: var(--color-primary-text);
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90%;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0 15px;
}

.container p .about-container p {
  line-height: 1.5em;
}

@media only screen and (min-width: 1200px) {
  .about-container h2 {
    line-height: 2.5rem;
    margin-bottom: 10px;
  }

  .about-container p {
    line-height: 1.5em;
    margin-bottom: 40px;
  }
}
