.create-ad-form>div {
    display: flex;
    flex-direction: column;
    /* Default layout for mobile */
    align-items: flex-start;
    /* Align items to the start */
    margin-bottom: 10px;
    /* Space between each field */
}

.create-ad-form label {
    margin-bottom: 5px;
    /* Space between label and input */
}

.create-ad-form textarea,
.create-ad-form input[type="text"],
.create-ad-form input[type="number"],
.create-ad-form input[type="datetime-local"],
.create-ad-form .dropdown {
    width: 100%;
    /* Full width for inputs */
}

/* Style for desktop */
@media (min-width: 992px) {
    .create-ad-form>div {
        flex-direction: row;
        /* Labels beside inputs for desktop */
        align-items: center;
        /* Center align items */
        justify-content: space-between;
        /* Distribute space between label and input */
    }

    .create-ad-form label {
        margin-bottom: 0;
        /* Remove bottom margin for labels in row layout */
        margin-right: 10px;
        /* Space between label and input */
    }

    .create-ad-form textarea,
    .create-ad-form input[type="text"],
    .create-ad-form input[type="number"],
    .create-ad-form input[type="datetime-local"],
    .create-ad-form .dropdown {
        width: 70%;
        /* Adjust the width of inputs */
    }
}

/* Specific style for the description field */
.create-ad-form .description {
    flex-direction: column;
    /* Keep column layout for description */
}