.form-container {
   /* height: 100vh; */
   display: flex;
   justify-content: center;
   align-items: center;
flex-direction: column;
  
}

.form {
    background: #F2FFE9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 900px;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    background-color: #557C55;
    color: #F2FFE9;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

.form-button:hover {
    background-color: #A6CF98;
}

.form-header {
    color: #557C55;
}

.input-field {
    border-radius: 8px;
    width: 200px;
    height: 40px;
    border: solid #557C55 0.5px;
    padding: 0px 20px;
}