.landing-adcard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* This will distribute space evenly */
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 50px 10px 10px;
  margin: 10px;
  max-width: 300px;
  width: 100%;
  flex-grow: 1; /* Makes the card grow to fill available space */
  box-sizing: border-box;
}

.landing-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.how-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0 3em 0;
}

.landing-list {
  margin-top: 2em;
}

.landing-list img {
  margin: 2em;
  width: 50%;
}

.breakline {
  display: flex;
  background-color: var(--color-secondary-background);
  width: 100%;
  height: 2em;
  margin-bottom: 2em;
}

.slider {
  margin: 0 3em 6em 3em;
}

@media (min-width: 840px) {
  .how-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary-background);
    margin: 3em 0 3em 0;
    padding: 3em 0 3em 0;
  }

  .landing-list {
    display: flex;
    margin: 3em 0 3em 0;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
  }

  .breakline {
    display: none;
  }

  .slider {
    margin: 3em 3em 3em 3em;
  }
}
