/* Apply styles to elements with the 'not-found' class */
.not-found {
    height: 100vh;
    /* Set the height to cover the viewport */
    width: 100%;
    /* Set the width to cover the viewport */
    color: white;
    /* Set text color to white */
    background: var(--secondary-background);
    /* Set background color */
    text-align: center;
    /* Center-align text within the element */
    margin: 0 auto;
    /* Center-align element horizontally */
    display: block;
    /* Display element as a block-level */
  }

  .four-o-four {
    margin-bottom: 20px;
  }