/*Display current password as black dots*/
.current-password {
    -webkit-text-security: disc;
}

.arrow-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    max-width: 100%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 100%;
    overflow: hidden;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.settings-actions {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media only screen and (min-width:768px) {
    .profile-settings {
        align-items: flex-start;
    }

    .password-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5em
    }

    .settings-actions {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }
}


  