.profile-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
};

.profile-data {
    display: flex;
    flex-direction: column;
};

@media only screen and (min-width:768px) {
    .profile-container {
        justify-content: flex-start;
    };

    .profile-data {
        flex-direction: row;
    }
}
    







