.profile-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.recent-ads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width:768px) {
    .profile-container, .profile-info, .recent-ads {
        align-items: flex-start;
    }

    .profile-data {
        flex-direction: row;
        gap: 2.5em;
    }
}









