.wrapper {
    background-color: #FFF4E6;
    height: fit-content;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px;
}

.cocktailImage {
    width: 250px;
    padding: 10px 0 40px 0;
    justify-self: center;
}

.numberSquare {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #DBC6B6;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.SbodyText {
    margin-bottom: 1px;
    grid-column: span 1;
    width: 85%;
    margin: 0 auto;
    text-align: left;
}

.bodyText {
    margin-bottom: 1px;
    grid-column: span 1;
    padding: 0px 5px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.h2 {
    margin-bottom: 4px;
    grid-column: span 1;
    width: 95%;
    margin: 0 auto;
    padding: 15px 0 0 0;
    text-align: left;
}

.h3 {
    color: #1D1C25;
    justify-self: center;
    padding: 65px 20px 45px 20px;
    text-align: center;
    grid-column: span 1;
}

.h3Load {
    padding: 0 40px;
}

.BackToButton {
    padding: 25px;
}

/* .p {
    padding: 10px 0;
    text-align: left;
    grid-column: span 1;
    padding: 40px 85px;
} */


/* iPad Pro 11" */
@media (min-width: 767px) and (max-width: 1028px) {

    .wrapper {
        padding: 40px 90px;
    }

    .cocktailImage {
        width: 450px;
    }

}


/*Macbook Air*/
@media (min-width: 1028px) {
    .wrapper {
        padding: 40px 40px;
    }

    .cocktailImage {
        width: 600px;
    }

    .bodyText {
        width: 50%;
    }

    .SbodyText {
        width: 43%;
    }

    .h2 {
        width: 45%;
    }


}