.update-settings {
    max-width: 100%;
}

.arrow-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.password {
    display: flex;
    flex-direction: column;
}

.password-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.password-input span {
    margin-left: -30px;
}