.update-settings {
    max-width: 100%;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.password {
    display: flex;
    flex-direction: column;
}

.password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}