.hero-wrapper {
    background-image: url('/public/hero2.png');
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.hero-image {
    width: 100vw;
 
}