.hero-wrapper {
  background-image: url("/hero5.png");
  width: 100vw;
  height: 27vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
}

.quote {
  font-size: 18px;
  padding-top: 14vh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .hero-wrapper {
    height: 42vh;
  }

  .quote {
    font-size: 24px;
    padding-top: 24vh;
  
  }
}

@media (min-width: 1280px) {
  .hero-wrapper {
    height: 52vh;
  }

  .quote {
    font-size: 42px;
    padding-top: 32vh;
  
  }
}
