.save-button-big {
    display: inline-flex;
    background-color: #ffcebf;
    border-radius: 60px;
    cursor: pointer;
    padding: 0 12px;
}

.save-button-big p {
    font-size: 1em;
    line-height: 2.3em;

}