.cart-item-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: solid 0.5px var(--breeze);
  border-radius: 0.625rem;
}

.cart-btn {
  background: none;
  color: var(--spring);
}

.cart-img-wrapper {
  max-width: 8rem;
  height: 10rem;
  width: 100%;
}

.cart-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.cart-item-text, .cart-item-pq {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-title {
  color: var(--forrest);
  font-family: var(--josefin);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3;
}

.cart-item-botanical-name {
  font-size: 0.7rem;
  line-height: 1.7;
}

.item-price {
  font-family: var(--montserrat);
  font-weight: 600;
  color: var(--forrest);
  letter-spacing: 1px;
}

.item-quantity-container {
  font-family: var(--montserrat);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  color: var(--forrest);
}

/*---------- BREAKPOINTS ----------*/
/* From mobile and for small devices */
@media (min-width: 576px) {
  .cart-item-title {
    font-size: 1.5rem;
  }
  
  .cart-item-botanical-name {
    font-size: 0.8rem;
  }

  .item-price {
    margin-bottom: 0.5rem;
  }
}

/* For medium devices */
@media (min-width: 744px) {

}

/* For large devices */
@media (min-width: 1024px) {

}

/* For extra large devices */
@media (min-width: 1280px) {
}