@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Rethink+Sans:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap");
/* Apply styles to the root element of the application */
#root {
  max-width: 1350px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
}

:root {
  font-family: "Rethink Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Original Colors */
.color-1 {
  background-color: #026c7c; /* Teal */
}

.color-2 {
  background-color: #c98686; /* Rosy */
}

.color-3 {
  background-color: #6c757d; /* Gray */
}

.color-1-light {
  background-color: rgba(2, 108, 124, 0.7); /* Lighter Teal */
}

.color-2-light {
  background-color: rgba(201, 134, 134, 0.7); /* Lighter Rosy */
}

.color-3-light {
  background-color: rgba(108, 117, 125, 0.7); /* Lighter Gray */
}
