@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  font-family: "Itim", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ocean: #5189D3;
  --oceanhover: #84b9ff;
  --oceanshadow: #1A5F79;
  --forest: #14C26E;
  --foresthover: #41dd92;
  --forestshadow: #00a857;
  --sunset: #FF9A3D;
  --sunsethover: #ffb26b;
  --sunsetshadow: #fa7d08;
  --daffodil: #FED363;
  --daffodilhover: #ffde89;
  --daffodilshadow: #fdc63b;
  --raspberry: #fe6d73;
  --raspberryhover: #ff9296;
  --raspberryshadow: #d7494e;
}

code {
  font-family: "Poppins", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

body {
  background-color: white;
}

button {
  font-family: "Itim", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

main {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
}

/* Remove this code. Should be global and in a separate component folder */
input {
  margin: 10px 0;
  font-family: "Poppins", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

a {
  text-decoration: none;
}

.crl-math {
  background-color: #5189d3;
}

.crl-swedish {
  background-color: #ff9a3d;
}

.crl-english {
  background-color: #3ece89;
}
