* {
  margin: 0;
}

a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: Raleway;
}

p {
  font-family: Raleway;
  font-size: 1.1em;
}


li {
  font-family: Raleway;
  font-size: 1.1em;
  line-height: 1.5;
}

button {
  font-family: Raleway;
  font-size: 1rem;
}

.spinner-container-new {
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #286052;
}

label {
  font-family: Raleway;
  color: white;
  font-size: 1.1rem;
}