/*---------- GOOGLE FONTS ----------
MONTSERRAT (300, 400, 500, 600, 700, 800, 900, italic 400, 600)
PLAYFAIR DISPLAY (400, 500, 600, 700, 800, 900, italic 700, 800, 900)
JOSEFIN SANS (400, 500, 600, 700 ----------*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

/*---------- CSS VARIABLES ----------*/
:root {
  /*---------- Colors ----------*/
  --charcoal: #333333;
  --chalk: #f3f3ea;
  --breeze: #dddfd1;
  --spring: #9ba986;
  --forrest: #3f543f;
  --sand: #eddcae;
  --terracotta: #bb5532;
  --gradient-sand-forrest: linear-gradient(
    180deg,
    #eddcae -53.12%,
    #3f543f 100%
  );

  /*---------- Fonts ----------*/
  --josefin: "Josefin Sans", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --big-h-font: "Playfair Display", serif;
}

/*---------- BASE ----------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*---------- REUSABLE CSS CLASSES ----------*/

.card-name {
  font-family: var(--montserrat);
  font-size: 0.9rem;
  color: var(--chalk);
  font-weight: 600;
  letter-spacing: 0.025rem;
}

/* Section container */
.section-container {
  padding: 3rem 1rem;
}

/* From mobile and for small devices */
@media (min-width: 576px) {
}

/* For medium devices */
@media (min-width: 744px) {
  .section-container {
    padding: 4rem 3rem;
  }
}

/* For large devices */
@media (min-width: 1024px) {
  .section-container {
    padding: 5rem;
  }
}

/* For extra large devices */
@media (min-width: 1280px) {
}

.title-container {
  text-align: center;
}

/* Page title */
h1 {
  color: var(--charcoal);
  font-family: var(--big-h-font);
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

/* Section title h2 */
.section-title {
  font-family: var(--big-h-font);
  font-size: 1.8rem;
  color: var(--charcoal);
  font-weight: 900;
  letter-spacing: 0.1375rem;
  text-align: center;
}

/* Text under section title h2 */
.h2-p {
  font-family: var(--montserrat);
  color: var(--charcoal);
  font-size: 0.8rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.5rem 2rem 1.5rem;
}

.h2-sub-title {
  font-family: var(--josefin);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--forrest);
  text-transform: uppercase;
}

/* Under-section title */
.h3-title {
  color: var(--forrest);
  font-family: var(--josefin);
  font-size: 1.5rem;
  font-weight: 600;
}

.h3-alt-title {
  font-family: var(--josefin);
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--forrest);
  text-transform: uppercase;
}

/* Body text */
.p-body {
  font-family: var(--montserrat);
  color: var(--charcoal);
  font-size: 0.8rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.5rem 0rem 1.5rem;
  text-align: left;
}

/* Small text */
.p-small {
  font-family: var(--montserrat);
  color: var(--charcoal);
  font-size: 0.7rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 1.5rem 0rem 0.5rem;
}

/* Visually hide the labels */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
  border: 0;
}

/*---------- LAYOUT ----------*/
.page-container-primary {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------- BREAKPOINTS ----------*/
/* From mobile and for small devices */
@media (min-width: 576px) {
  /* Text under section title h2 */
  .h2-p {
    font-size: 1rem;
    padding: 0.5rem 2rem 2rem;
  }
}

/* For medium devices */
@media (min-width: 744px) {
  /* Section title h2 */
  .section-title {
    font-size: 2.5rem;
  }

  /* Text under section title h2 */
  .h2-p {
    font-size: 1.3rem;
    padding: 0.5rem 2rem 2rem;
  }
}

/* For large devices */
@media (min-width: 1024px) {
  .section-title {
    font-size: 3rem;
  }
}

/* For extra large devices */
@media (min-width: 1280px) {
  .section-title {
    font-size: 3.5rem;
  }

  .card-name {
    font-size: 1.25rem;
  }
}

/* MALL */
/*---------- BREAKPOINTS ----------*/
/* From mobile and for small devices */
@media (min-width: 576px) {
}

/* For medium devices */
@media (min-width: 744px) {
}

/* For large devices */
@media (min-width: 1024px) {
}

/* For extra large devices */
@media (min-width: 1280px) {
}
