@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ---------- CUSTOM PROPERTIES AND GLOBAL STYLING ---------- */
:root {
  /* Primary Colors */
  --primary-text: #333333;
  --primary-background: #ffffff;
  --cta: #333333;
  --cta-hover: #202322;
  --cta-text: #e2e3ed;
  --cta-hover-text: #e2e3ed;
  --secondary-background: #f5f5f5;

  /* Secondary Colors */
  --secondary-text: #666666;
  --accent: #3739cb;
  --border: #dddddd;

  /* Font Families */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Lato', sans-serif;

  /* Mobile Font Sizes */
  --font-size-h1: 2.25rem;
  /* 36px */
  --font-size-h2: 1.875rem;
  /* 30px */
  --font-size-h3: 1.5rem;
  /* 24px */
  --font-size-h4: 1.125rem;
  /* 18px */
  --font-size-p: 1.125rem;
  /* 18px for paragraph */
  --font-size-label: 1.125rem;
  /* 18px for label */


  /* Other styles */
  --border-radius: 8px;

  /* General settings */
  font-family: var(--font-body);
  background: var(--primary-background);
  color: var(--primary-text);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
p {
  margin: 0;
}


/* Base Styles */
html {
  font-size: 16px;
}

body {
  font-family: var(--font-body);
  font-size: 1em;
  background-color: #FFFFFF;
  color: var(--primary-text);
  text-align: left;
  overflow-x: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
p,
label {
  font-family: var(--font-heading);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 4.3rem;
  font-weight: 700;
  margin: 1.5rem 0;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 600;
  margin: 1rem 0;

}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
  margin: 1rem 0;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
  margin: 1rem 0;
}

p {
  font-size: var(--font-size-p);
  line-height: 1.5;

}

/* Lists */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
}

label {
  font-size: var(--font-size-label);
  font-weight: 500;
}

/* Input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
input[type="file"],
select,
textarea {
  font-family: var(--font-heading);
  font-size: 1.125rem;
  /* 18px */
  font-weight: 500;
  /* Semi-bold */
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 2px 5px;
  max-width: 100%;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* Containers */
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

/* Tablet styles */
@media only screen and (min-width:768px) {
  h1 {
    font-size: 3rem;
    /* 48px */
  }

  h2 {
    font-size: 2.25rem;
    /* 36px */
  }

  h3 {
    font-size: 1.5rem;
    /* 24px */
  }

  h4,
  p {
    font-size: 1.125rem;
    /* 18px */
  }

  label {
    font-size: 1.5rem;
    /* 24px */
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  input[type="file"],
  select,
  textarea {
    font-size: 1.5rem;
    /* 24px */
  }

  .container {
    max-width: 680px;
  }
}

/* Desktop styles */
@media only screen and (min-width:1200px) {
  h1 {
    font-size: 3.5rem;
    /* 56px */
  }

  h2 {
    font-size: 2.25rem;
    /* 36px */
  }

  h3 {
    font-size: 1.875rem;
    /* 30px */
  }

  h4 {
    font-size: 1.5rem;
    /* 24px */
  }

  p {
    font-size: 1.125rem;
    /* 18px */
  }

  label {
    font-size: 1.5rem;
    /* 24px */
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="datetime-local"],
  input[type="file"],
  select,
  textarea {
    font-size: 1.5rem;
    /* 24px */
  }

  .container {
    max-width: 1120px;
  }
}

/* STYLING FOR ADVERTISER'S PROFILE PAGE ("/PROFILE/:USERID") */
.profile-data {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-ads {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width:768px) {
  .profile-data {
    flex-direction: row;
    gap: 2.5em;
  }

  .profile-info {
    align-items: flex-start;
  }
}

/* STYLING FOR USER'S PROFILE SETTINGS PAGE ("/SETTINGS") */
.profile-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 100%;
  overflow: hidden;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings-actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (min-width:768px) {
  .password-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em
  }

  .settings-actions {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
  }
}

/* STYLING FOR USER'S UPDATE SETTINGS PAGE ("/UPDATE-SETTINGS") */
.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}