/* Base styles (Mobile-first design) */
/* Applicable to small screens (smartphones) by default */
.H1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    font-family: 'Tenor Sans', sans-serif;
    color: #1d1c25d2;
}

.H2 {
    font-size: 13px;
    /* Inside recipes, chategory*/
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: 'Readex Pro', sans-serif;
    color: #1d1c25d2;
}

.H3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 104%;
    letter-spacing: 1px;
    font-family: 'Tenor Sans', sans-serif;
    color: #1d1c25d2;
}

.bodyText {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.6px;
    font-family: 'Readex Pro', sans-serif;
    color: #1D1C25;
}

.SbodyText {
    font-size: 11px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.6px;
    font-family: 'Readex Pro', sans-serif;
    color: #1D1C25;
}

.XSbodyText {
    font-size: 9px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.6px;
    font-family: 'Readex Pro', sans-serif;
    color: #1D1C25;
}

/* Tablet-sized devices (e.g., iPad) */
@media (min-width: 768px) {
    .H1 {
        font-size: 30px;

    }

    .H2 {
        font-size: 16px;
    }

    .H3 {
        font-size: 24px;
    }

    .bodyText {
        font-size: 16px;
    }

    .SbodyText {
        font-size: 14px;
    }
}

/* Laptop and desktops */
@media (min-width: 1024px) {
    .H1 {
        font-size: 33px;
        /* Much larger for desktop readability */
        letter-spacing: 1.3px;
    }

    .H2 {
        font-size: 18px;
        letter-spacing: 0.48px;

    }

    .H3 {
        font-size: 24px;
        letter-spacing: 1.3px;
    }

    .bodyText {
        font-size: 16px;
        letter-spacing: 0.60px;
    }

    .SbodyText {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.60px;
    }
}