header {
  background-color: var(--forrest);
  color: var(--sand);
  font-family: var(--josefin);
  padding: 1rem;
}

/* For large devices */
@media (min-width: 777px) {
  header {
    padding: 1.3rem 5rem;
  }
}
