.header {
    height: 12vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #86bca8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 3vh;
    color: #286052;
}

.header-logo {
    width: 200px;
    padding-bottom: 5%;
    /*Adjust to get correct height as it is a logo*/
}

/**** Hover effects****/
.header a {
    background-image: linear-gradient(to right,
            white,
            #7bceb9 50%,
            #286052 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header a:before {
    content: '';
    background: #286052;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.header a:hover {
    background-position: 0;
}

.header a:hover::before {
    width: 100%;
}

/* Hover effect ends here */

.header nav ul {
    display: flex;
    justify-content: center;
    gap: 20%;
    list-style: none;
    margin-right: 4%;
}

.header-nav svg {
    color: #173e34;
    background: white;
    padding: 10%;
    border-radius: 50%;
    stroke-width: 1.3;
    /* Changes how bold the strokes are in the react icons */
}

/* ---------TABLET VIEW---------- */
@media (min-width: 667px) and (max-width: 1024px) {
    .header-logo {
        width: 300px;
        padding-left: 4%;
    }

    .header nav ul {
        gap: 30%;
        margin-right: 24%;
    }
}

/* ---------DESKTOP VIEW---------- */
@media (min-width: 1025px) {
    .header-logo {
        width: 305px;
        padding-bottom: 3%;
        padding-left: 8%;
        /*Adjust to get correct height as it is a logo*/
    }

    .header nav ul {
        gap: 70%;
        margin-right: 36%;
    }

    .header a {
        font-size: 4vh;
    }
}