.header {
    height: 12vh;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #86bca8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 3vh;
    color: #286052;
}

/**** Hover effects****/
.header a {
    background-image: linear-gradient(to right,
            white,
            #7bceb9 50%,
            #286052 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header a:before {
    content: '';
    background: #286052;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.header a:hover {
    background-position: 0;
}

.header a:hover::before {
    width: 100%;
}

/* Hover effect ends here */

.header nav ul {
    display: flex;
    gap: 5%;
    list-style: none;
}

.header nav a {
    color: #286052;
    font-size: 2vh;
}