.plants-page-wrapper {
  background-color: var(--chalk);
}

.plants-page-container {
  padding: 1rem;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.filtering-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 2rem;
  gap: 1rem;
}

.options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
  font-size: 0.8rem;
  color: var(--forrest);
  font-family: var(--josefin);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.075rem;
}

.clear-btn {
  width: 100%;
  padding: 0.5rem;

  border-radius: 3.25rem;
  border: 1px solid var(--spring);
  color: var(--charcoal);
  background-color: var(--chalk);

  font-family: var(--josefin);
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
}

/*---------- BREAKPOINTS ----------*/
/* From mobile and for small devices */
@media (min-width: 576px) {
}

/* For medium devices */
@media (min-width: 744px) {
}

/* For large devices */
@media (min-width: 1024px) {
}

/* For extra large devices */
@media (min-width: 1280px) {
}
