.hero-wrapper {
  background-color: var(--chalk);
}

.hero-content-wrapper {
  position: absolute;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

h1 {
  color: var(--charcoal);
  font-family: var(--big-h-font);
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.hero-wrapper p {
  color: var(--charcoal);
  font-family: var(--montserrat);
  line-height: 1.8;
  letter-spacing: 0.09rem;
}

.hero-image-container {
  background: linear-gradient(to bottom left, #3f543f, #dddfd1);
  /* border-radius: 0rem 0rem 31.5rem 31.5rem; */
  padding: 0 1.5rem 1.5rem;
}

.hero-image-container img {
  /* border-radius: 0rem 0rem 31.25rem 31.25rem; */
  object-fit: cover;
  height: 580px;
  width: 100%;
}

.all-plants-btn {
  background-color: var(--terracotta);
  color: var(--chalk);
  padding: 1.1rem 2.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10rem;
}

/* From mobile and for small devices */
@media (min-width: 576px) {
  .hero-wrapper {
    background-color: var(--chalk);
  }

  .hero-content-wrapper {
    text-align: left;
  }

  .hero-image-container {
    width: 50%;
    right: 1rem;

    /* margin: 0 1rem 0 0; */
  }
}

/* @media (min-width: 900px) {
    .hero-wrapper {
      background-color: var(--chalk);
      display: flex;
    }
  
    .hero-content-wrapper {
      padding: 7rem 1rem 7rem 7rem;
    }
  
    h1 {
      color: var(--charcoal);
      font-family: var(--big-h-font);
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  
    .hero-wrapper p {
      color: var(--charcoal);
      font-family: var(--montserrat);
      font-size: 1.5rem;
      line-height: 2.8125rem;
      letter-spacing: 0.09rem;
    }
  
    .hero-image-container {
      background: linear-gradient(to bottom left, #3f543f, #dddfd1);
      border-radius: 0rem 0rem 31.5rem 31.5rem;
      padding: 0 1.5rem 1.5rem;
      height: 100%;
      width: 80%;
      margin: 0 7rem 0 1rem;
    }
  
    .hero-image-container img {
      border-radius: 0rem 0rem 31.25rem 31.25rem;
    }
  
    .all-plants-btn {
      background-color: var(--terracotta);
      color: var(--chalk);
      border-radius: 4.5rem;
      padding: 0.8rem 1.8rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 2.8125rem;
      letter-spacing: 0.06rem;
    }
  } */
