/* Apply styles to the root element of the application */
#root {
  max-width: 1280px; /* Set maximum width for the content */
  margin: 0 auto; /* Center align the content horizontally */
  padding: 2rem; /* Add padding around the content */
  min-height: 100vh; /* Ensure a minimum height to cover the viewport */
  text-align: center; /* Center-align text within the root element */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Apply styles to elements with the 'logo' class */
.logo {
  height: 2.5em; /* Set height for logo images */
  padding: 1.5em; /* Add padding around logo images */
  will-change: filter; /* Specify a CSS property that may change */
  transition: filter 300ms; /* Apply a transition effect to the 'filter' property */
}

/* Apply styles to all list items */
li {
  text-align: left; /* Left-align text within list items */
}

/* Apply styles to elements with the 'app-ul' class (unordered list) */
.app-ul {
  list-style-type: none; /* Remove bullets from list items */
  padding: 0; /* Remove padding from list */
  margin: 0; /* Remove margin from list */
  display: flex; /* Display list items in a horizontal row */
  justify-content: space-between; /* Space items evenly within the container */
}

/* Apply styles to elements with the 'app-li' class (list items) */
.app-li {
  margin-bottom: 10px; /* Add space between list items */
}

/* Apply styles to elements with the 'heading' class */
.heading {
  font-size: 1.5em; /* Set font size for headings */
}

/* Apply styles to elements with the 'card' class */
.card {
  padding: 2em; /* Add padding around card content */
}

/* Apply styles to elements with the 'read-the-docs' class */
.read-the-docs {
  color: #888; /* Set text color to gray */
}

/* Apply styles to elements with either 'user-login' or 'user-registration' class */
.user-login,
.user-registration {
  display: flex; /* Display elements as flex containers */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center-align content vertically */
}

/* Apply styles to input elements within 'user-login' or 'user-registration' class */
.user-login > input,
.user-registration > input {
  margin-bottom: 1em; /* Add space below input elements */
  height: 2em; /* Set height for input elements */
}

/* Apply styles to elements with the 'card-wrapper' class */
.card-wrapper {
  padding: 1rem 0rem; /* Add padding above and below card wrappers */
}

/* Apply styles to elements with the 'card-container' class */
.card-container {
  border: 1px solid red; /* Add a red border to card containers */
  padding-bottom: 1em; /* Add padding below card containers */
}

/* Apply styles to elements with the 'green-border' class */
.green-border {
  border: 1px solid green; /* Add a green border to elements with this class */
}

/* Apply styles to elements with the 'red-border' class */
.red-border {
  border: 1px solid red; /* Add a red border to elements with this class */
}

/* Apply styles to input elements with the 'task-input' class */
.task-input {
  width: 50%; /* Set width for task input elements */
  padding: 0.5em; /* Add padding around task input elements */
}

/* Apply styles to elements with the 'cta-block' class */
.cta-block {
  display: block; /* Display elements as block-level */
  width: 100%; /* Set the width to 100% */
}

/* Apply styles to buttons within elements with the 'cta-block' class */
.cta-block button {
  margin: 0.5em 0em; /* Add margin above and below buttons */
  width: 100%; /* Set the width of buttons to 100% */
}

/* Apply styles to odd-numbered buttons within 'cta-block' class */
.cta-block button:nth-of-type(odd) {
  background: #7ae582; /* Set background color for odd buttons */
  color: #fafafa; /* Set text color for odd buttons */
}

/* Apply styles to even-numbered buttons within 'cta-block' class */
.cta-block button:nth-of-type(even) {
  background: #bc4749; /* Set background color for even buttons */
  color: #fafafa; /* Set text color for even buttons */
}

/* Apply styles to elements with the 'not-found' class */
.not-found {
  height: 100vh; /* Set the height to cover the viewport */
  width: 100%; /* Set the width to cover the viewport */
  color: white; /* Set text color to white */
  background: rgb(83, 79, 79); /* Set background color */
  text-align: center; /* Center-align text within the element */
  margin: 0 auto; /* Center-align element horizontally */
  display: block; /* Display element as a block-level */
}
