.wrapper {
    background-color: #DBC6B6;
    padding: 20px;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

/* iPad Pro 11" */
@media (min-width: 767px) and (max-width: 1285px) {
    .wrapper {
        height: 160px;
    }
}

@media (min-width: 1285px) {
    .wrapper {
        height: 170px;
    }
}