* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* .imgsWrapper {
    display: flex;
    position: static;
    flex-direction: row;
    z-index: 10;
    color: #fff;
    margin-top: 10px;
    width: fit-content;
    background-color: transparent;
    margin-left: 20px;
}

.logoText {
    position: absolute;
    bottom: 0;
    margin: 0 40px;
} */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f8f3f4;
    padding: 0 1rem;
    height: 60px;
}

/* .navBlackSvgBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 0;
} */

.navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f3f4;
    box-sizing: border-box;
    z-index: 1;
}




/* .navSvgBackground {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: auto;
    z-index: 0;
} */

/* .logoText {
    width: 193px;
    height: 38px;
    flex-shrink: 0;
    z-index: 1;
} */

/* .logo {
    cursor: pointer;
    width: 50px;
    height: 65px;
    flex-shrink: 0;
    z-index: 1;
} */

/* .menuIcon {
    cursor: pointer;
    display: block;
    z-index: 1;
} */

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px auto;
    background-color: #1D1C25;
    transition: all 0.3s ease;
    border-radius: 13px;
}

.navLinks.active {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}


/* .navLink styles for all views, could be inside a media query or not */
.navLink {
    color: #1D1C25;
    background-color: #f8f3f4;
    padding: 20px;
    /* Adjust padding to control spacing between items */
    text-decoration: none;
    /* Removes underline from links */
    /* Remove display: block; if it's here */
    /* Other styles here */
    z-index: 2;
    font-family: 'Tenor Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    line-height: 131%;
    padding: 20px 18px;
    /* Consolidated padding */
    display: block;
}


.navLink::after {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px auto;
    background-color: #1D1C25;
    transition: all 0.3s ease;
    border-radius: 13px;
}

/* .navLink:hover::after {
    background-color: hotpink;
}
 */

/* iPad Pro 11" */
@media (min-width: 767px) and (max-width: 1028px) {

    /* .navBlackSvgBackground {
        position: absolute;
        transform: translateY(-20%);
        width: 110%;
        z-index: 0;

    } */
    .nav {
        height: 90px;
    }

    .menuIcon {
        padding-top: 35px;
        padding-right: 40px;
    }

    .navLink {
        top: 2vh;
        left: 88%;
    }

    /* .navSvgBackground {
        position: absolute;
        top: 0vh;
        right: 0;
        width: 38%;
        height: auto;
        z-index: 0;
    } */

    .bar {
        display: block;
        width: 41px;
        height: 2px;
        margin: 9px auto;
        background-color: #1D1C25;
        transition: all 0.3s ease;
    }

    .logo {
        margin-top: 20px;
    }
}

@media (min-width: 1028px) {
    /* .navBlackSvgBackground {
        transform: translateY(-20%);
    } */

    /* .imgsWrapper {
        display: flex;
        position: static;
        flex-direction: row;
        z-index: 10;
        color: #fff;
        margin-top: 75px;
        width: fit-content;
        background-color: transparent;
        margin-left: 90px;
    }

    .logoText {
        position: absolute;
        bottom: 0;
        margin: 0 40px;
    } */



    .menuIcon {
        display: none;
    }

    .navLinks {
        display: flex;
        /* Makes the container visible and layouts out its children in a row */
        justify-content: center;
        /* Centers the nav items */
        align-items: center;
        /* Vertically aligns the nav items if needed */
        position: relative;
        /* Typically, for a horizontal menu, 'relative' positioning is used */
        flex-direction: row;
        /* Aligns children (.navLink) horizontally */
        width: auto;
        /* Take up the necessary width based on content */
        top: 0;
        /* Reset any specific positioning from mobile */
        left: 0;
        /* Reset any specific positioning from mobile */
        /* Remove the background color if it should be transparent on desktop */
        background-color: transparent;
        /* Add any other styles for desktop here */
    }

    .navLink {
        padding: 0px 18px;
    }

    .navLink:last-of-type {
        padding: 0;
        margin-right: 0;
    }

    .navLink:last-of-type::after {
        display: none;
    }

    .navLink:hover {
        color: #c53c1a;
    }


    .navSvgBackground {
        display: none;
    }

    .navLink.dropdown {
        pointer-events: none;

    }

    /*first four lines*/
    .navLink:not(:last-of-type)::after {
        display: none;
    }
}