.page-section {
    padding: 4rem 1rem;
    margin: 0 auto;
}
.page-section:not(.the-header):not(.the-footer) {
    min-height: 40vh;
}
.page-section:not(.the-header):not(.the-footer):not(.the-movie-list) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-section:not(.the-hero) {
    margin: 0 11rem;
}
/* .page-section.the-calender {
    padding: 3rem 11rem;
    margin: 0;
} */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}