.page-section {
    padding: var(--small-padding) 1rem;
    margin: 0 auto;
}
.page-section:not(.the-header):not(.the-footer) {
    min-height: 40vh;
}
.page-section:not(.the-header):not(.the-footer):not(.the-movie-list) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-section:not(.the-hero):not(.the-footer):not(.the-header) {
    margin: 0 var(--big-padding);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1025px) {
    .page-section:not(.the-hero):not(.the-footer) {
        margin: 0 var(--small-padding);
    }
}