@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
	margin: 0 auto;
	min-height: 100vh;
	min-width: 100vw;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	/* background-color: #242424; */
	background-color: var(--background-color);
	color: var(--font-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--background-color: #262522;
	--background-section-color-one: #A76D60;
	--background-section-color-two: #161513;
	--background-section-color-three: #0B1C26;
	--background-section-color-four: #363530;

	--font-color: #f2f2f2;
	--primary-color: #7787a6;
	--secondary-color: #424859;
	--screen-color: rgba(0, 0, 0, 0.1);
	--screen-text-color: #777;
	--selection-color: yellow;
	--box-shadow-color: rgba(0, 0, 0, 0.7);

	--small-padding: 4rem;
	--big-padding: 11rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: inherit;
	text-decoration: inherit;
}
a:hover {
	color: var(--secondary-color);
}

body {
	/* margin: 0 auto;
	padding: 2rem; */
	margin: 0;

	min-width: 320px;
	min-height: 100vh;
	max-width: 1280px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Jost, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		--font-color: #262522;

		--background-color: #f2f2f2;
		--background-section-color-one: #DBC3BD;
		--background-section-color-two: #ECEBE9;
		--background-section-color-three: #EFF6FA;
		--background-section-color-four: #E2E2DF;

		--primary-color: #7787a6;
		--secondary-color: #424859;
		--screen-color: rgba(0, 0, 0, 0.1);
		--screen-text-color: #777;
		--selection-color: yellow;
		--box-shadow-color: #999999;
	}
	a:hover {
		color: var(--secondary-color);
	}
	button {
		background-color: #f9f9f9;
	}
}

@media (min-width: 667px) and (max-width: 1025px) {
	body {
		max-width: 80dvw;
	}
}