.inspo-wrapper {
  background-color: var(--chalk);
  position: relative;
  padding: 1rem;
}

.inspo-content-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 1rem;
  z-index: 10;
}

.inspo-p {
  font-family: var(--montserrat);
  color: var(--charcoal);
  font-size: 0.8rem;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-weight: 500;
  display: none;
}

.inspo-bg-container {
  display: flex;
  justify-content: center;
}

.leaf-container {
  position: absolute;
  width: 50%;
  left: 0;
}

.inspo-img-container {
  margin: 4rem 1rem 0;
  max-width: 500px;
  width: 100%;
}

.inspo-image {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  object-fit: cover;
}

.inspo-btn {
  font-family: var(--montserrat);
  background-color: var(--terracotta);
  color: var(--chalk);
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 10rem;
}
