.by-characteristic-wrapper {
  background-color: var(--chalk);
}

.by-characteristic-container {
  padding: 3rem 1rem;
}

.cards-container {
  font-family: var(--josefin);
  color: var(--chalk);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.character-card-wrapper {
  width: auto;
  height: 16rem;
  max-height: 100%;
  position: relative;
  letter-spacing: 0.025rem;
}

.character-card-wrapper img {
  border-radius: 0.625rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.character-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;

  inset: 0;
  border-radius: 0.625rem;
  background: #33333366;
}

.character-card-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.035rem;
}

.shop-now-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.character-card-wrapper:hover .shop-now-link {
  text-decoration: underline;
}

/*---------- BREAKPOINTS ----------*/
/* From mobile and for small devices */
@media (min-width: 576px) {
  .by-characteristic-container {
    padding: 3rem 2rem;
  }

  .character-card-wrapper {
    height: 25rem;
  }
}

/* For medium devices */
@media (min-width: 744px) {
  .by-characteristic-container {
    padding: 4rem 3rem;
  }

  .character-card-wrapper {
    height: 30rem;
  }

  .character-card-wrapper h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .shop-now-link {
    font-size: 1.25rem;
  }
}

/* For large devices */
@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .by-characteristic-container {
    padding: 5rem;
  }

  .character-card-wrapper {
    height: 20rem;
  }

  .character-card-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* For extra large devices */
@media (min-width: 1280px) {
  .character-card-wrapper {
    height: 25rem;
  }

  .categories-wrapper .products-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .options-container {
    display: block;
    width: 21rem;
  }
}
