.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.close-icon,
.open-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.heart-icon,
.bag-icon,
.search-icon {
  width: 1rem;
  height: 1rem;
}

.logo-container {
  width: 200px;
}

@media (min-width: 768px) {
  .header-container {
    gap: 2.5rem;
  }

  .header-container span {
    color: var(--sand);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1875rem;
  }

  .left-side,
  .right-side {
    gap: 2rem;
  }

  .heart-icon,
  .bag-icon,
  .search-icon,
  .menu-icon {
    width: 2rem;
    height: 2rem;
  }

  .logo-container {
    width: auto;
  }
}
